<!DOCTYPE html>
<html lang="en">

<head>
  <script src="//cdn.jsdelivr.net/npm/phaser@3.20.1/dist/phaser.min.js"></script>
  <!-- <script src="../javascripts/phaser/phaser.min.js"></script> -->
  <!-- <script src="../javascripts/phaser/panda1.js"></script> -->
  <script type="module" src="../javascripts/phaser/panda2.js"></script>
  <script type="module" src="../javascripts/phaser/pandaTest.js"></script>
</head>

<body>
  <div id="phaserSet"></div>
</body>



</html>