<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://www.phaser-china.com/examples/libs/phaser.min.js"></script>
  <script src="https://www.phaser-china.com/_plugins/phaser-spine.min.js"></script>
</head>

<body>
  <script type="module" src=/javascripts/work/pandaTest.js></script>
</body>

</html>