html,
body {
  background-color: #dcdcdc;
}

.main {
  width: 80%;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  display: block;
  background-color: #ffffff;
  border-radius: 4px;
}

.header {
  width: 100%;
  text-align: center;
}

.header img {
  width: 100%;
}

.column {
  width: 300px;
  height: auto;
  box-shadow: 2px 2px 2px #cccccc;
  padding: 5px;
  float: left;
  margin: 0px 5px 5px 0px;
}

#clock {
  color: cadetblue;
  padding: 0px 5px;
}

.clear{
  clear: both;
}

a{
  color: cadetblue;
}

ul{}
li{
  list-style: none;
  line-height: 25px;
  margin-left: -20px;
}